<!--
Author: Darren Fitzpatrick
Adapted from: http://getbootstrap.com/2.3.2/examples/fluid.html
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Contact Us</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      
    <!-- <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
     <!--  </div><!-- /.container -->
    <!-- </nav>/.navbar -->
      
    <!-- =============================== Content =============================== -->  
    <div class="container" style="max-width:2000px;margin-top:85px">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="Banner">
              <img src="../../contactBanner.jpg" style="width:100%">
          </div>
            
          <div class="row">
              &nbsp;&nbsp;
              <h2 align="center"><font color="orange">GMIT Campuses</font></h2>
            <p align="center">The main contact details for the GMIT are listed below; to contact an individual member of staff, please use our <a href="http://www.gmit.ie/staff-directory">Staff Directory.</a></p>
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5">GMIT Galway</font></h3>
                <p>Dublin Road</p>
                <p>Co. Galway</p>
                <p>H91 T8NW</p>
                <p></p>
                <p>Tel: +353 91 753161</p>
                <p>Fax: +353 91 751107</p>
                <p>Email: info@gmit.ie</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3><font color="#44A8D5">GMIT Letterfrack</font></h3>
                <p>Letterfrack</p>
                <p>Co. Galway</p>
                <p>H91 AH5K</p>
                <p></p>
                <p>Tel: +353 91 742650</p>
                <p>Email: letterfrack@gmit.ie</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5 ">GMIT Castlebar</font></h3>
                <p>Westport Rd</p>
                <p>Curragh</p>
                <p>Castlebar</p>
                <p>Co. Mayo</p>
                <p></p>
                <p>Tel: +353 94 902 57001</p>
                <p>Email: info@castlebar.ie</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
          <div class="row2">
        <h2 align="center"><font color="orange">Student Union Contacts</font></h2>
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5">Student Activities Co-ordinator</font></h3>
                <li>Amy Kelly</li>
                <li>Tel: +353 91 742055</li>
                <li>supresident@gmit.ie</li>
                <li>www.gmitsu.ie</li>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5">Sports Development Office</font></h3>
                <li>Molly Dunne</li>
                <li>Tel: +353 87 7703314</li>
                <li>molly.dunne@gmit.ie</li>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5">Student Activities Co-ordinator</font></h3>
                <li>Antoinette Canavan</li>
                <li>Tel: +353 91 742008</li>
                <li>antoinette.canavan@gmit.ie</li>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h3><font color="#44A8D5">GAA Development Officer</font></h3>
                <li>Damian Curley</li>
                <li>Tel: +353 91 742062</li>
                <li>damian.curley@gmit.ie</li>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4--> 
          </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Links</a>
            <a href="https://www.facebook.com/GMITOfficial/" class="list-group-item"><img src="./../facebook.png" style="width:9%"> GMIT Facebook</a>
            <a href="https://twitter.com/GMITOfficial" class="list-group-item"><img src="./../twitter.png" style="width:10%"> GMIT Twitter</a>
            <a href="https://www.youtube.com/user/gmitchannel" class="list-group-item"><img src="./../youtube.png" style="width:10%"> GMIT Youtube</a>
            <a href="http://gmitsu.ie/" class="list-group-item"><img src="./../gmitsu.png" style="width:10%"> GMIT Student Union</a>
            <a href="https://plus.google.com/117359840169831232875/posts" class="list-group-item"><img src="./../google.png" style="width:10%"> GMIT Google+</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <!--/
        <p>&copy; 2016 Company, Inc.</p>
      </footer>-->

    <!--</div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>